{% load static i18n%}
<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evidencija radnog vremena demo</title>

    {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'bootstrap5/css/bootstrap.min.css' %}"
    />

    <title>Evidencija radnog vremena</title>
  </head>

  <body>
    <!--<div class="primary screen">
      <div class="nav">
        <div class="navbar">
          <div class="left-nav">
            <img
              src="{% static 'img/uniri.png' %}"
              alt="image 2"
              class="image-2"
            />
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Sastavnice
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Evidencija radnog vremena
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Kontakt
            </div>
          </div>

          <div class="right-nav">
            <button
              class="upload-button navbar-link sanserifcollection-regular-normal-black-12px"
              hx-get="{% url 'main:upload_form' %}" hx-target="#dialog" hx-trigger="click">
                Učitaj CSV
            </button>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Prijava
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Registracija
            </div>
          </div>
        </div>
      </div>

      <div class="main-container">
        <div class="overlap-group-container">
          <div class="overlap-group1">
            <h1 class="evidencija-radnog-vremena">Evidencija radnog vremena</h1>
          </div>
          <div class="overlap-group2">
            <div class="decoration-1 decoration-4"></div>
            <div class="overlap-group-2">
              <div class="odaberi-sastavnicu">Odaberi sastavnicu</div>
              <img
                class="vector-1"
                src="{% static 'img/arrow-down.png' %}"
                alt="Vector"
              />
            </div>
          </div>
        </div>-->

    <!--<div class="filters">
          <div class="overlap-group1-1">
            <div class="decoration-2 decoration-4"></div>
            <div class="overlap-group-3">
              <div class="pretrazivanje-radnika">Pretraživanje radnika</div>
              <img
                src="{% static 'img/arrow-down.png' %}"
                alt="Vector"
                class="vector-2"
              />
            </div>
          </div>

          <div class="overlap-group">
            <div class="decoration decoration-4"></div>
            <div class="overlap-group-1">
              <div class="vrsta-posla">Vrsta posla</div>
              <img
                src="{% static 'img/down-vector.svg' %}"
                alt="Vector"
                class="vector"
              />
            </div>
          </div>

          <div class="overlap-group">
            <div class="decoration decoration-4"></div>
            <div class="overlap-group-1">
              <div class="razdoblje">Razdoblje</div>
              <img
                src="{% static 'img/down-vector.svg' %}"
                alt="vector"
                class="vector"
              />
            </div>
          </div>

          <div class="overlap-group2-1">
            <div class="decoration-3 decoration-4"></div>
            <div class="overlap-group-4">
              <div class="mjesec">Mjesec</div>
              <img
                src="{% static 'img/down-vector.svg' %}"
                alt="Vector"
                class="vector"
              />
            </div>
          </div>

        </div>-->
    <!--<div class="free-space"></div>-->

    <!--<div class="overlap-group3-1">
            <button
            class="add-button navbar-link sanserifcollection-regular-normal-black-12px"
            hx-get="{% url 'main:add_erv' %}" hx-target="#dialog" hx-trigger="click">
              Dodaj ERV
            </button>
        </div>
      </div> 
    </div>-->

    <header>
      <!-- Navbar -->
      <nav
        class="navbar navbar-light navbar-expand-md bg-faded justify-content-center py-5"
      >
        <div class="container">
          <!--logo-->
          <a href="/" class="navbar-brand d-flex me-auto">
            <img
              src="{% static 'img/uniri-logo-header.svg' %}"
              height="35"
              alt="uniri logo"
            />
          </a>

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsingNavbar3"
          >
            <span class="navbar-toggler-icon"></span>
          </button>

          <!--items-->
          <div class="navbar-collapse collapse" id="collapsingNavbar3">
            <!--center items-->
            <ul class="nav navbar-nav justify-content-center">
              <li class="nav-item active px-3">
                <a class="nav-link" href="/main/erv_table">ERV</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link" href="#">Sastavnice</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link" href="#">Radnici</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link" href="#">Poslovi</a>
              </li>
              <li class="nav-item px-3">
                <a class="nav-link" href="#">Kontakt</a>
              </li>
            </ul>

            <!--left items-->
            <ul class="navbar-nav ms-auto justify-content-end">
              <li class="nav-item">
                <a class="nav-link btn" href="#"><ins>Odjava</ins></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <!--hero pozadina-->
      <div class="container-fluid p-5 text-start bg-image hero-bg">
        <div class="mask py-5">
          <div
            class="d-flex flex-column justify-content-start align-items-start h-100"
          >
            <div class="text-white">
              <h1 class="evidencija-radnog-vremena">
                Evidencija radnog vremena
              </h1>
            </div>
            <div class="container">
              <button
                class="add-button navbar-link"
                hx-get="{% url 'main:add_erv' %}"
                hx-target="#dialog"
                hx-trigger="click"
              >
                Dodaj ERV
              </button>
              <button
                class="upload-button navbar-link sanserifcollection-regular-normal-black-12px"
                hx-get="{% url 'main:upload_form' %}"
                hx-target="#dialog"
                hx-trigger="click"
              >
                Učitaj CSV
              </button>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- table_filter and table-->
    <div class="container p-4">{% block main %} {% endblock %}</div>

    <!--upload and edit form-->
    <div id="modal" class="modal fade">
      <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

    <!-- toasts -->
    <div
      data-toast-container
      class="toast-container position-fixed top-0 start-50 translate-middle-x p-3"
    >
      <div
        data-toast-template
        class="toast align-items-center border-0"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="d-flex">
          <div data-toast-body class="toast-body fs-6 fw-bold"></div>
          <button
            type="button"
            class="btn-close btn-close-white me-2 m-auto"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
      </div>
    </div>

    <script src="{% static 'htmx/htmx.min.js' %}"></script>
    <script defer src="{% static 'alpinejs/alpine.min.js' %}"></script>
    <script src="{% static 'bootstrap5/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/popup.js' %}"></script>
    <script src="{% static 'js/toasts.js' %}"></script>
  </body>
</html>
