<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Evidencija radnog vremena demo</title>
    <script
      src="https://unpkg.com/htmx.org@1.8.6"
      integrity="sha384-Bj8qm/6B+71E6FQSySofJOUjA/gq330vEqjFx9LakWybUySyI1IQHwPtbTU7bNwx"
      crossorigin="anonymous"
    ></script>

     {% load static %}
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    /> 
    <link
    rel="stylesheet"
    type="text/css"
    href="{% static 'css/styles_calendar.css' %}"
  /> 
    <script type="text/javascript" src="{% static 'js/functions_calendar_modified.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/monday_first_day.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/calendar.min.js' %}"></script>

    <title>Evidencija radnog vremena</title>
  </head>
  <body>
    <div class="primary screen">
      <div class="nav">
        <div class="navbar">
          <div class="left-nav">
            <img
              src="{% static 'img/uniri.png' %}"
              alt="image 2"
              class="image-2"
            />
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Sastavnice
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Evidencija radnog vremena
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Kontakt
            </div>
          </div>

          <div class="right-nav">
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Prijava
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Registracija
            </div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="overlap-group-container">
          <div class="overlap-group1">
            <h1 class="evidencija-radnog-vremena"><a href="/worker_list">Evidencija radnog vremena</a></h1>
          </div>
          <div class="overlap-group2">
            <div class="decoration-1 decoration-4"></div>
            <div class="overlap-group-2">
              <div class="odaberi-sastavnicu">Odaberi sastavnicu</div>
              <img
                class="vector-1"
                src="{% static 'img/arrow-down.png' %}"
                alt="Vector"
              />
            </div>
          </div>
        </div>
      </div>
       
        {% block form %}
        {% endblock %}

      <div class="free-space"></div>
      </div>
    </div>
    <div class="date-table screen">
      <div class="overlap-group6">
        <div id="searched_workers" class="rectangle-2 rectangle">
          {% include 'partials/result_searched_workers_tables.html' %}
        {% block content %}
        {% endblock %}
      </div>
      </div>
    </div>

    <script>
      let first = 0;
      window.onload = function() {
        if(!window.location.href.includes("filter"))
        {
          window.location.href += 'filter';
        }
      };    

      document.body.addEventListener('htmx:configRequest', (event) => {
          event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })

      let dateStart = new Date().getUTCFullYear()+"-"+(new Date().getMonth()+1)+"-"+new Date().getDate();
      let dateEnd = new Date(dateStart).getUTCFullYear()+"-"+(new Date().getMonth()+1)+"-"+new Date().getDate();

      $(function containText() {
        $('input[name="daterange"]').daterangepicker({
          opens: 'left',
          "showDropdowns": true,
          "locale": {
            "format": "YYYY-MM-DD",
          },
        }, function(start, end, label) {
            dateStart = start.format('YYYY-MM-DD');
            dateEnd = end.format('YYYY-MM-DD');
            let month, day;
            if(new Date(dateStart).getMonth()+1 < 10)
                month = "0"+(new Date(dateStart).getMonth()+1);
            else 
                month = new Date(dateStart).getMonth()+1;
            if(new Date(dateStart).getDate() < 10)
                day = "0"+new Date(dateStart).getDate();
            else 
                day = new Date(dateStart).getDate();
            let date1 = new Date(dateStart).getFullYear()+"-"+month+"-"+day;
            if(new Date().getMonth()+1 < 10)
                month = "0"+(new Date().getMonth()+1);
            else 
                month = new Date().getMonth()+1;
            if(new Date().getDate() < 10)
                day = "0"+new Date().getDate();
            else 
                day = new Date().getDate();
            let date2 = new Date().getFullYear()+"-"+month+"-"+day;
            if(new Date(dateEnd).getMonth()+1 < 10)
                month = "0"+(new Date(dateEnd).getMonth()+1);
            else 
                month = new Date(dateEnd).getMonth()+1;
            if(new Date(dateEnd).getDate() < 10)
                day = "0"+new Date(dateEnd).getDate();
            else 
                day = new Date(dateEnd).getDate();
            let date3 =  new Date(dateEnd).getFullYear()+"-"+month+"-"+day;
              
            if((date1 > date2) || (date3 > date2)){
                alert("Unesite važeći datum"+ "današnji datum je: "+date2);
                dateStart = null;
                dateEnd = null;
            }else{
                dateStart = start.format('YYYY-MM-DD');
                dateEnd = end.format('YYYY-MM-DD');
            }
        });
      });
    
      function calendar() {
        $('input[name="daterange"]').focus();
      }

      let calendarSwitch = document.getElementById("showCal");
      let calendarItem = document.getElementById("myCal");
      let textItem = document.getElementById("textShow");
      let containerCal = document.getElementById("containerCal");

      function check(){
        if(!calendarSwitch.checked)
            {
              calendarItem.style.display = 'none';
              calendarItem.name = "";
              textItem.style.display = 'block';
              containerCal.style.justifyContent = "space-evenly";
            }else{
              calendarItem.style.display = 'block'
              calendarItem.name = "daterange";
              textItem.style.display = 'none';
              containerCal.style.justifyContent = "space-between";
            }
      }
      </script>
  </body>
</html>
