<!DOCTYPE html>
<html lang="hr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}"/>
    <title>Evidencija radnog vremena</title>
  </head>
  <body>
    <div class="primary screen">
      <div class="nav">
        <div class="navbar">
          <div class="left-nav">
            <img src="{% static 'img/uniri.png' %}" alt="image 2" class="image-2" />
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Sastavnice
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Evidencija radnog vremena
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Kontakt
            </div>
          </div>

          <div class="right-nav">
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Prijava
            </div>
            <div
              class="navbar-link sanserifcollection-regular-normal-black-12px"
            >
              Registracija
            </div>
          </div>
        </div>
      </div>
      <div class="main-container">
        <div class="overlap-group-container">
          <div class="overlap-group1">
            <h1 class="evidencija-radnog-vremena">Evidencija radnog vremena</h1>
          </div>
          <div class="overlap-group2">
            <div class="decoration-1 decoration-4"></div>
            <div class="overlap-group-2">
              <div class="odaberi-sastavnicu">Odaberi sastavnicu</div>
              <img class="vector-1" src="{% static 'img/arrow-down.png' %}" alt="Vector" />
            </div>
          </div>
        </div>

        <div class="filters">
          <div class="overlap-group1-1">
            <div class="decoration-2 decoration-4"></div>
            <div class="overlap-group-3">
              <div class="pretrazivanje-radnika">Pretraživanje radnika</div>
              <img src="{% static 'img/arrow-down.png' %}" alt="Vector" class="vector-2" />
            </div>
          </div>
          <div class="overlap-group">
            <div class="decoration decoration-4"></div>
            <div class="overlap-group-1">
              <div class="vrsta-posla">Vrsta posla</div>
              <img src="{% static 'img/down-vector.svg' %}" alt="Vector" class="vector" />
            </div>
          </div>
          <div class="overlap-group">
            <div class="decoration decoration-4"></div>
            <div class="overlap-group-1">
              <div class="razdoblje">Razdoblje</div>
              <img src="{% static 'img/down-vector.svg' %}" alt="vector" class="vector" />
            </div>
          </div>

          <div class="overlap-group2-1">
            <div class="decoration-3 decoration-4"></div>
            <div class="overlap-group-4">
              <div class="mjesec">Mjesec</div>
              <img src="{% static 'img/down-vector.svg' %}" alt="Vector" class="vector" />
            </div>
          </div>
        </div>
        <div class="free-space"></div>
      </div>
    </div>
    <div class="data-table screen">
      <div class="overlap-group6">
        <div class="rectangle-2 rectangle"></div>
      </div>
    </div>
  </body>
</html>
