{% extends "base_generic.html" %} {% block content %}
<table id="searched_workers">
  <tr>
    <th>Ime</th>
    <th>Prezime</th>
    <th>Vrijeme ulaza</th>
    <th>Vrijeme izlaza</th>
    <th>Datum</th>
    <th>Šifra</th>
    <th>Delta vrijeme</th>
  </tr>
  {%for worker in worker_list%}
  <tr>
    <td>worker.worker.name</td>
    <td>worker.worker.surname</td>
    <td>worker.enter_time</td>
    <td>worker.exit_time</td>
    <td>worker.current_date</td>
    <td>worker.flag</td>
    <td></td>
  </tr>
  {%end for%}
</table>
{% endfor %} {% endblock %}
