{% load widget_tweaks %} {% with WIDGET_ERROR_CLASS='is-invalid' %}
<form
  hx-post="{{ request.path }}"
  hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
  class="modal-content"
>
  <div class="modal-header">
    <h3 class="modal-title">Dodja Radnika</h3>
  </div>

  <div class="modal-body">
    <div class="mb-3">
      <label for="{{ form.name.id_for_label }}" class="form-label">Ime</label>
      {% render_field form.name class="form-control" %}
      <div class="invalid-feedback input-medium">
        {{ form.ime.errors|first }}
      </div>
    </div>

    <div class="mb-3">
      <label for="{{ form.surname.id_for_label }}" class="form-label"
        >Prezime</label
      >
      {% render_field form.surname class="form-control" %}
      <div class="invalid-feedback input-small">
        {{ form.surname.errors|first }}
      </div>
    </div>

    <div class="mb-3">
      <label for="{{ form.job.id_for_label }}" class="form-label">Posao</label>
      {% render_field form.job class="form-control" %}
      <div class="invalid-feedback">{{ form.job.errors|first }}</div>
    </div>

    <div class="mb-3">
      <label for="{{ form.active.id_for_label }}" class="form-label"
        >Aktivan</label
      >
      {% render_field form.active class="form-check-input" type="checkbox" %}
      <div class="invalid-feedback">{{ form.active.errors|first }}</div>
    </div>
  </div>

  <div class="modal-footer">
    <button
      style="
        border-radius: 6px;
        background-color: #6cb5b5;
        border: none;
        padding: 5px 10px;
        text-align: center;
        margin: 4px 2px;
        opacity: 0.5;
        transition: 0.3s;
        display: inline-block;
        cursor: pointer;
        color: black;
        font-weight: bold;
      "
      type="button"
      class="btn btn-secondary"
      hx-get="{% url 'main:add_erv' %}"
    >
      Odustani
    </button>
    <button
      style="
        background-color: #8cd8a6;
        border-radius: 6px;
        border: none;
        padding: 5px 10px;
        text-align: center;
        margin: 4px 2px;
        opacity: 1;
        transition: 0.3s;
        display: inline-block;
        cursor: pointer;
        color: black;
        font-weight: bold;
      "
      type="submit"
      class="btn btn-primary"
    >
      Spremi
    </button>
  </div>
</form>
{% endwith %}
