<div class="modal-content" >
    <div class="modal-header">
        <h3 class="modal-title">Izvještaj za {{ worker }}</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_year}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for year in years %}
              {% if year == current_year %}
                <button 
                    class="dropdown-item active" 
                    hx-get="{% url 'main:bar_graph' pk=pk year=year month='Ukupno' %}"
                    hx-target="#graph"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                >{{ year }}</button>
                {% else %}
                <button 
                    class="dropdown-item" 
                    hx-get="{% url 'main:bar_graph' pk=pk year=year month='Ukupno' %}"
                    hx-target="#graph"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                >{{ year }}</button>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
    </div>
    <div class="modal-body">
        <div class="mb-5 mx-5">
            {% include 'graphs/bar_chart.html' %}
        </div>
      <hr>
        <div class="m-5">
           {% block pie %}
           {% include 'graphs/pie_chart.html' %}
           {% endblock %}
        </div>
    </div>
</div>