<div id="pie">
  <div class="row">
    <div class="col position-relative me-3">
      <div class="dropdown position-absolute top-0 start-100 translate-middle">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
          {{ current_month }}
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
          {% for month in months %}
          {% if month == current_month %}
            <button 
                class="dropdown-item active" 
                hx-get="{% url 'main:pie' pk=pk year=current_year month=month %}#chart2"
                hx-target="#pie"
                hx-trigger="click"
                hx-swap="outerHTML"
            >{{ month }}</button>
            {% else %}
            <button 
                class="dropdown-item" 
                hx-get="{% url 'main:pie' pk=pk year=current_year month=month %}#chart2"
                hx-target="#pie"
                hx-trigger="click"
                hx-swap="outerHTML"
            >{{ month }}</button>
          {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <canvas id="chart2" width="500" height="500"></canvas>
      <script>
          var ctx = document.getElementById("chart2").getContext("2d");
          var graph = JSON.parse('{{ pie_chart|escapejs }}');
          var chart = new Chart(ctx, {
          type: "doughnut",
          data: {
              labels: graph.labels,
              datasets: [{
                  data: graph.data,
                  backgroundColor: [
                      'rgb(255, 51, 51)',
                      'rgb(255, 153, 51)',
                      'rgb(255, 255, 51)',
                      'rgb(153, 255, 51)',
                      'rgb(255, 99, 132)',
                      'rgb(54, 162, 235)'
                  ],
                  hoverBorderColor: 'white',
                  datalabels: {
                    labels: {
                      name: {
                        align: 'top',
                        font: {size: 16},
                        formatter: function(value, ctx) {
                          return ctx.active
                            ? 'Vrsta posla'
                            : ctx.chart.data.labels[ctx.dataIndex];
                        }
                      },
                      value: {
                        align: 'bottom',
                        backgroundColor: function(ctx) {
                          var value = ctx.dataset.data[ctx.dataIndex];
                          return value > 50 ? 'white' : null;
                        },
                        borderColor: 'white',
                        borderWidth: 2,
                        borderRadius: 4,
                        color: function(ctx) {
                          var value = ctx.dataset.data[ctx.dataIndex];
                          return value > 50
                            ? ctx.dataset.backgroundColor
                            : 'white';
                        },
                        formatter: function(value, ctx) {
                          return ctx.active
                            ? 'vrijednost'
                            : Math.round(value * 1000) / 1000;
                        },
                        padding: 4
                      }
                    }
                  }
              }]
          },
          options: {
            plugins: {
              legend: {
                position: 'right',
                labels: {
                  padding: 40,
                  boxHeight: 20,
                  boxWidth: 30
                }
              },
              datalabels: {
                color: 'white',
                display: function(ctx) {
                  return ctx.dataset.data[ctx.dataIndex] >= 1;
                },
                font: {
                  weight: 'bold',
                },
                offset: 0,
                padding: 0
              },
              tooltip: {
                enabled: false
              }
            },
          }
          });
      </script>
    </div>
  </div>
</div>
