<div class="modal-content">
    <div class="modal-header">
        <h3 class="modal-title">Izvještaj za sve radnike</h3>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              {{current_year}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for year in years %}
              {% if year == current_year %}
                <button 
                    class="dropdown-item active" 
                    hx-get="{% url 'main:total_pie' year=year month='Ukupno' %}"
                    hx-target="#graph"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-indicator="#loadPie"
                >{{ year }}</button>
                {% else %}
                <button 
                    class="dropdown-item" 
                    hx-get="{% url 'main:total_pie' year=year month='Ukupno' %}"
                    hx-target="#graph"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-indicator="#loadPie"
                >{{ year }}</button>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
    </div>
    <div class="modal-body">
        <div class="progress" id="loadPie">
            <div class="indeterminate"></div>
        </div>   
        <div class="m-5">
            {% block pie %}
            {% include 'graphs/total_pie_partial.html' %}
            {% endblock %}      
        </div>
    </div>
</div>